:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #c0c0c0;

  --font-primary: "Roboto", Helvetica;
}

body {
  font-family: var(--font-primary);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
  text-align: center;
}

.logo {
  font-size: 2rem;
  color: var(--accent-color);
  height: 5%;
  width: 10%;
  background-image: url(/images/came2.jpg);
}

nav ul {
  display: flex;
  gap: 1rem;
}

/* Welcome Banner Styling */
.welcome-banner {
  background-image: url("images/came3.jpg");
  margin-left: 5%;
  margin-right: 5%;
  background-position: center;
  color: var(--secondary-color);
  text-align: center;
  padding: 60px 20px;
}

.welcome-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.welcome-text p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.logo {
  font-size: 2rem;
  color: var(--accent-color);
}

nav ul {
  display: flex;
  gap: 1rem;
}

.category {
  padding: 20px;
}

.product-grid {
  display: grid;
  gap: 2.9rem;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1.2rem));
}

.product-item img {
  max-width: 100%;
  border-radius: 12px;
}

.product-item button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

footer {
  background-color: #111;
  color: var(--secondary-color);
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  color: #777;
}
